* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #081b29;
  color: #fff;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url(./images/Background.png);
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 10%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  background: #081b29;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 10% 5px 10%;
  border-bottom: 0.5px solid #000;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}
.logo {
  width: 180px;
  height: auto;
  padding-left: 5px;
}
.navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  position: relative;
}
.navbar ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #f94b4b;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.navbar ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin-top: 25%;
  font-size: 30px;
}
.header-text h2 {
  font-size: 50px;
  margin-top: 20px;
}
.header-text h2 span {
  color: #f94b4b;
}
/* ----------About---------- */
#about {
  padding: 50px 0;
  color: #fff;
}
#about .container {
  padding: 50px 10%;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis: 60%;
}
.about-col-2 .about-text {
  font-size: 16px;
  line-height: 1.4;
  text-align: justify;
}
.sub-title {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}
.tab-titles {
  display: flex;
  margin: 15px 0 25px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #f94b4b;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  font-size: 16px;
  list-style: none;
  margin: 10px 0;
  line-height: 1.5;
  animation: slideTop 0.5s ease-out forwards;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.tab-contents ul li span {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.tab-contents ul li span {
  color: #f94b4b;
  margin-right: 10px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
/* ----------Technical Skills---------- */
.technical-bars .bar {
  margin-bottom: 10px;
}
.technical-bars .bar .info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}
.technical-bars .bar .info i {
  font-size: 28px;
}
.technical-bars .bar .info span {
  line-height: 1;
  font-size: 15px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
}
.technical-bars .bar .progress-line {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #262626;
  border-radius: 10px;
  animation: animate 1s cubic-bezier(0.5, 0.1, 0.25, 1) forwards;
  transform-origin: left;
}
.technical-bars .bar .progress-line span {
  position: absolute;
  height: 100%;
  background-color: #f94b4b;
  border-radius: 10px;
  transform: scaleX(0);
  animation: animate 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  transform-origin: left;
}
.progress-line.html span {
  width: 85%;
}
.progress-line.css span {
  width: 80%;
}
.progress-line.javascript span {
  width: 75%;
}
.progress-line.cplusplus span {
  width: 75%;
}
.progress-line.python span {
  width: 70%;
}
.progress-line.reactjs span {
  width: 80%;
}
.progress-line.tailwind span {
  width: 80%;
}
.progress-line.android span {
  width: 70%;
}
.progress-line span::after {
  position: absolute;
  padding: 2px 8px;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  border-radius: 5px;
  top: -30px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
.progress-line.html span::after {
  content: "85%";
}
.progress-line.css span::after {
  content: "80%";
}
.progress-line.javascript span::after {
  content: "75%";
}
.progress-line.cplusplus span::after {
  content: "75%";
}
.progress-line.python span::after {
  content: "70%";
}
.progress-line.reactjs span::after {
  content: "80%";
}
.progress-line.tailwind span::after {
  content: "80%";
}
.progress-line.android span::after {
  content: "70%";
}
.progress-line span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #262626;
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
/* ----------Professional Skills---------- */
.radial-bars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.radial-bars .radial-bar {
  width: 30%;
  height: 170px;
  position: relative;
}
.radial-bars .radial-bar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 130px;
  height: 130px;
}
.radial-bars .progress-bar {
  stroke-width: 10;
  stop-color: #262626;
  fill: transparent;
  stroke-dashoffset: 502;
  stroke-dasharray: 502;
  stroke-linecap: round;
  animation: animate-bar 0.5s linear forwards;
}
.path {
  stroke: #f94b4b;
  stroke-width: 10;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}
.path-1 {
  animation: animate-path1 0.5s 0.5s linear forwards;
}
.path-2 {
  animation: animate-path2 0.5s 0.5s linear forwards;
}
.path-3 {
  animation: animate-path3 0.5s 0.5s linear forwards;
}
.path-4 {
  animation: animate-path4 0.5s 0.5s linear forwards;
}
.path-5 {
  animation: animate-path5 0.5s 0.5s linear forwards;
}
.path-6 {
  animation: animate-path6 0.5s 0.5s linear forwards;
}
.radial-bar .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
.radial-bar .text {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 50%;
  top: 90%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}
@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 100;
  }
}
@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 150;
  }
}
@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 50;
  }
}
@keyframes animate-path4 {
  100% {
    stroke-dashoffset: 150;
  }
}
@keyframes animate-path5 {
  100% {
    stroke-dashoffset: 125;
  }
}
@keyframes animate-path6 {
  100% {
    stroke-dashoffset: 75;
  }
}
/* ----------Service---------- */
#services {
  padding-top: 40px;
}
#services .container {
  padding: 50px 10%;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 80px;
}
.services-list div {
  background: #040019;
  padding: 30px 40px;
  font-size: 15px;
  font-weight: 300;
  border-radius: 15px;
  text-align: justify;
  transition: background 0.5s, transform 0.5s;
}
.services-list div i {
  font-size: 30px;
  margin-bottom: 25px;
}
.services-list div h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div p {
  line-height: 1.4;
}
.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  margin-top: 20px;
}
.services-list div:hover {
  background: #f94b4b;
  transform: translateY(-10px);
}
/* ----------Projects---------- */
#projects {
  padding-top: 40px;
}
#projects .container {
  padding: 50px 10%;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin-top: 80px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  height: 450px;
}
.work img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #f94b4b);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: all 0.7s;
}
.layer h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.layer a {
  font-size: 18px;
  margin-top: 20px;
  color: #f94b4b;
  text-decoration: none;
  border-radius: 50%;
  background: #fff;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
}
.layer p {
  line-height: 1.4;
}
.btn {
  display: block;
  margin: 50px auto 0;
  width: fit-content;
  padding: 10px 30px;
  text-decoration: none;
  background: #f94b4b;
  border-radius: 8px;
  color: #fff;
  transition: background 0.5s;
  font-size: 18px;
}
.btn:hover {
  background: #f93b3b;
}
.btn:active {
  transform: scale(1.05);
}
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ----------Contact---------- */
#contact {
  padding-top: 40px;
}
#contact .container {
  padding: 50px 10%;
}
#contact .row {
  margin: 40px 0 20px;
}
.contact-left {
  flex-basis: 40%;
}
.contact-right {
  flex-basis: 55%;
}
.contact-left p {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin: 20px 0;
  font-size: 18px;
  font-weight: 500;
}
.contact-left i {
  font-size: 32px;
}
.contact-social {
  margin-top: 30px;
}
.contact-social a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #fff;
  display: inline-block;
  transition: transform 0.5s;
}
.contact-social a:hover {
  color: #f94b4b;
  transform: translateY(-5px);
}
.btn.btn2 {
  display: inline-block;
  background: #f94b4b;
  transition: transform 0.5s;
  padding: 10px 30px;
}
.btn.btn2:hover {
  background: #f93b3b;
}
.btn.btn2:active {
  transform: scale(1.05);
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #262626;
  color: #fff;
  font-size: 16px;
}
form input:focus,
form textarea:focus {
  border-color: #f94b4b;
  background: #101820;
  box-shadow: 0 0 5px rgba(249, 75, 75, 0.6);
}
form textarea {
  resize: none;
  min-height: 100px;
  line-height: 1.5;
}
form .btn.btn2 {
  margin-top: 20px;
  cursor: pointer;
}
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: rgb(2, 19, 31);
  font-weight: 300;
  margin-top: 20px;
  color: gray;
}
.submit-container {
  display: inline-block;
}
#msg {
  padding-left: 15px;
  font-size: 18px;
  font-style: italic;
}
#msg-success {
  color: #fff;
}
#msg-error {
  color: #f94b4b;
}
.navbar .fa-solid {
  display: none;
}
/* ----------Media Queries---------- */
@media only screen and (max-width: 768px) {
  #header {
    background-image: url(./images/Background-Phone.png);
  }
  .header-text {
    margin-top: 60%;
    font-size: 18px;
  }
  .header-text h2 {
    font-size: 30px;
  }
  .navbar .fa-solid {
    display: block;
    font-size: 30px;
    padding: 0 15px;
    cursor: pointer;
  }
  .navbar ul {
    background: #f94b4b;
    position: fixed;
    top: 0;
    right: -150px;
    width: 130px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
  }
  .navbar ul li {
    display: block;
    margin: 25px;
  }
  .navbar ul li a {
    font-size: 18px;
  }
  .navbar ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 10px;
    cursor: pointer;
  }
  .sub-title {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  .radial-bars {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  .radial-bars .radial-bar {
    width: 45%;
    height: 120px;
    margin-bottom: 20px;
  }
  .radial-bars .radial-bar svg {
    width: 100px;
    height: 100px;
  }
  .radial-bar .percentage {
    font-size: 14px;
  }
  .radial-bar .text {
    font-size: 14px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: max-content;
  }
  .work-list {
    grid-template-columns: 1fr;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  .contact-left p {
    margin: 10px 0;
  }
  .contact-left {
    margin-bottom: 20px;
  }
  form input,
  form textarea {
    padding: 10px;
    margin: 10px 0;
  }
  .copyright {
    font-size: 14px;
  }
}
